.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.card {
  color: white;
  background-color:blue;
  border: 15px solid blue;
  border-radius: 20px;
  width: 250px;
  height: fit-content;
  margin: 20px 5px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 15px ;
  overflow: hidden;
}

.card h2 {
  font-size: 1.2rem;
  color:white;
}

.card h3 {
  margin: 10px;
  font-size: .9rem;
}

.card p {
  margin: 10px;
  text-align: justify;
  font-size: .8rem;
}

.u {
  transform: scaleX(-1);
}